<div class="home-container">
  <h1>Bienvenido a SaludTodosApp</h1>
  <div class="button-container">
    <button pButton type="button" label="Registrar Paciente" class="p-button-lg p-button-primary" (click)="registrarPaciente()"></button>
    <button pButton type="button" label="Buscar Paciente" class="p-button-lg p-button-secondary" (click)="searchPatient()"></button>
    <button pButton type="button" label="Registrar Historia Clínica" class="p-button-lg p-button-success" (click)="registerMedicalHistory()"></button>
    <button pButton type="button" label="Buscar Historia Clínica" class="p-button-lg p-button-info" (click)="searchMedicalHistory()"></button>
  </div>
</div>
